#order {
	position: relative;
	margin: 30px auto;
	background: whitesmoke;
	width: 70%;
	height: auto;
	padding: 20px;
}

#orleft {
	display: inline-block;
	border: 1px solid lightgrey;
	background: white;
	box-shadow: 2px 0px 4px lightgrey;
	width: calc(50% - 4px);
	height: 100%;
	min-height: 300px;
	padding: 10px;
}

#orright {
	float: right;
	border: 1px solid lightgrey;
	box-shadow: 2px 0px 4px lightgrey;
	background: white;
	width: calc(50% - 44px);
	height: 100%;
	padding: 10px;	
}

.cart-content {
	float: right;
	width: auto;
	height: auto;
	overflow: auto;
	margin: -2px 5px;
}
.removeFromCart {
	padding: 3px;
	background: red !important;
	opacity: 0.8;
	cursor: pointer;
	width: auto;
	height: auto;
}

#emptyCart {
	text-align: center;
}

.paybut{
	margin-top: 20px; 
	text-align: right;
}

.paybutton{
	width: 110px; 
	height: 23px;

	background: url(../../images/stripe.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
	float: right;

	padding: 5px;
	margin-top: 20px; 

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	cursor: pointer;
	opacity: 1;

}

.paybutton:hover{
	opacity: 0.9;
}