#payblock {
	width: 200px;
	height: auto;
	border: 2px solid lightgrey;
	text-align: left;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 2px 2px 5px lightgrey;
}

.paymethod {
	width: auto;
	border: 1px solid grey;
	background: whitesmoke;
	padding: 10px 0px 10px 0px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

#BackButton {
	width: 75px;
	padding: 5px;
	text-align: center;
	background: royalblue;
	margin: 10px;
	color: whitesmoke;
	border-radius: 3px;
	cursor: pointer;
}

#BackButton:hover {
	opacity: 0.8;
}