#product {
	position: relative;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid lightgrey;
	margin: 0 auto;
	width: 70%;
	height: auto;
	margin-top: 35px;
	border: 1px solid whitesmoke;
	padding: 40px 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 3px 8px lightgrey;
	-moz-box-shadow: 0px 3px 8px lightgrey;
	-webkit-box-shadow: 0px 3px 8px lightgrey;
	overflow: auto;
}

#pleft {
	display: inline-block;
	border: 1px solid lightgrey;
	width: calc(50% - 4px);
	height: 100%;
}

#pleft1 {
	display: inline-block;
	width: calc(50% - 94px);
	height: 100%;
}

#pleft img {
	width: 100%;
	height: auto;
}

#pdesc {
	background: whitesmoke;
	height: 50px;
	padding: 10px 0px 0px 5px;
}

#pright {
	float: right;
	border: 1px solid lightgrey;
	width: calc(50% - 24px);
	height: 100%;
	padding: 10px;
}

#headline {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 10px;
}

#totaltitle {
	padding-left: 10px;
	font-weight: 600;
}
#totalprice {
    float: right;
}

.itemwrapper {
	margin-top: 10px;
	border: 1px solid lightgrey;
	border-radius: 5px;
    padding: 5px 0px 0px 5px
}

.informations {
	margin: 10px;
	overflow: auto;
}
.infoname {
	display: inline-block;
}
.infoprice {
	display: inline-block;
	margin-right: 10px;
}
.selamount {

	border-radius: 15px;
}

#buybutton {
	margin-top: 20px;
	float: right;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	background: royalblue;
	border: 1px solid royalblue;
	color: white;
}

#buybutton:hover {
	cursor: pointer;
	opacity: 0.8;
}

button:disabled, button[disabled] {
	opacity: 0.3;
	background: grey;
}

.rightbox{
	float: right;
}
