.eventbox {
    overflow: auto;
}

.subtitle {
	font-size: 2.1em;

	height: auto;
	width: 800px;

	margin: 0 auto;
	margin-top: 40px;
}

.headline1 {
	font-size: 1.8em;
	font-weight: 400;
}

.headline2 {
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	font-size: 1.3em;
}

.purchasedImg {
	width: 200px;
	height: 200px;
	float: left;
	display: inline-block;
	overflow: hidden;
}

.purchasedImg img{
	height: 100%;
  position: relative;
  right: 50%;
}

.purchasedInfo {
	float: left;
	min-width: 300px;
	max-width: 380px;
	padding: 20px 30px 20px 30px;
	display: inline-block;
}

.orderSummary {
	display: inline-block;
	background: whitesmoke;
	/*border: 1px solid gray;*/
	font-size: 0.8em;
	font-weight: 100;
	padding: 10px;
	line-height: 1em;
}

.ticketSummary {
	float: left;
	width: 100px;
}

.ticketSummary div {
	height: 1.2em;
	display: inline-block;
	float: left;
	margin-top: 0.1em;
}

.ticketSummary .title{
	font-size: 1.2em;
	border-bottom: 1px solid gray;
	margin-bottom: 0.2em;
}

.ticketSummary .left{
	width: 80%;
	text-align: left;
}

.ticketSummary .right{
	width: 20%;
	text-align: right;
}

.total {
	float: left;
	width: 200px;
	text-align: right;
	font-size: 1.2em;

}

.total div {
	height: 1em;
	margin-bottom: 0.4em;
}

.dbutton {
	float: right;
	margin: 20px 30px 0 0;
}

.shadow {
		box-shadow: 1px 2px 8px lightgrey;
		-moz-box-shadow: 1px 2px 8px lightgrey;
		-webkit-box-shadow: 1px 2px 8px lightgrey;
}
