*{

	padding: 0em;
	margin: 0em;

	font-family: montserrat;
}

@font-face{font-family: montserrat; src: url(../fonts/montserrat.otf);}

input,
.btnCancel{
	box-sizing: inherit;

	width: 200px;
	height: 40px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	border: 1px solid whitesmoke;
	padding: 2px 5px;
	margin: 2px auto;

	font-size: 0.7em;
}

input[type=submit]{
	background: royalblue;
	color: whitesmoke;
	opacity: 0.8;

	cursor: pointer;
}

input[type=submit]:hover{
	opacity: 1;
}

a, a:focus, a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}
.btnCancel {
	width: 198px;
	opacity: 0.5;
	border: 1px solid red;
	color: red;
	line-height: 40px;

	cursor: pointer;
}

.btnCancel:hover{
	opacity: 1;
}

#info{
	width: 220px;
	height: auto;

	font-size: 12px;
	text-align: center;

	padding: 20px 10px;
	margin: 0px auto;

	background: whitesmoke;
	color: grey;

	border-radius: 5px;
}


.headernav{
	height: 60px;
	width: auto;

	background: white;
  	background: -webkit-linear-gradient(right, white, whitesmoke);
  	background: -o-linear-gradient(right, white, whitesmoke);
  	background: -moz-linear-gradient(right, white, whitesmoke);
  	background: linear-gradient(to right, white, whitesmoke);

  	box-shadow: 0px 1px 8px lightgrey;
  	-moz-box-shadow: 0px 1px 8px lightgrey;
  	-webkit-box-shadow: 0px 1px 8px lightgrey;
}

.headerlogo{
	width: 80px;
	height: 100%;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	float: left;
	cursor: pointer;
	margin: 0px 0px 0px 30px;
}

.headerlogo img {
	position: relative;
	top: 50%;
  transform: translate(0,-50%);
}

.headertitle{
	float: left;
	cursor: pointer;
	margin: 20px 0px 0px 30px;
}

.navlist{
	float: right;
	margin: 20px 20px 0px 0px;
	width: auto;

}

.nav{
	font-size: 14px;
	margin-right: 10px;
	display: inline-block;
	text-transform: uppercase;
}

.mainContainer {
	margin: 20px auto;
	text-align: center;
}

.mainContainer p{
	width: 210px;
	font-size: 12px;
	padding: 2px 0px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 3px;

	text-align: left;
}

.eventlist{
	border: 1px solid lightgrey;
	padding: 20px 0px;
}

.eventbox{
	height: auto;
	width: 800px;

	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
	border: 1px solid lightgrey;

	box-shadow: 1px 2px 8px lightgrey;
	-moz-box-shadow: 1px 2px 8px lightgrey;
	-webkit-box-shadow: 1px 2px 8px lightgrey;
}

.eimg{
	min-height: 250px;
	height: auto;

	cursor: pointer;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.eimg img{
	transition: all 0.3s;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.eimg:hover img{
	box-shadow: 0px 2px 12px grey;
	-moz-box-shadow: 0px 2px 12px grey;
	-webkit-box-shadow: 0px 2px 12px grey;

	transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
}

.edesc{
	height: 80px;
	padding: 20px 30px 0px;

	background: white;
  	background: -webkit-linear-gradient(right, white, whitesmoke);
  	background: -o-linear-gradient(right, white, whitesmoke);
  	background: -moz-linear-gradient(right, white, whitesmoke);
  	background: linear-gradient(to right, white, whitesmoke);
}

.edesc p{
	font-family: calibri;
	font-size: 17px;
}


.block1{
	border: 1px solid whitesmoke;
	background: whitesmoke;

	padding: 5px 15px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

.block2{
	float: right;
}

.dbutton{
	width: 50px;
	height: 22px;

	padding: 8px 30px;

	background: royalblue;
	color: whitesmoke;
	border: 1px solid royalblue;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 2px 2px 4px lightgrey;
	-moz-box-shadow: 2px 2px 4px lightgrey;
	-webkit-box-shadow: 2px 2px 4px lightgrey;

	cursor: pointer;

}

/* ------------------------------  LOGIN.PHP --------------------------------  */

.masterForm {
	width: 300px;
	padding: 20px;

	border: 1px solid whitesmoke;
	margin: auto;
	padding: 40px 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-shadow: 0px 3px 8px lightgrey;
	-moz-box-shadow: 0px 3px 8px lightgrey;
	-webkit-box-shadow: 0px 3px 8px lightgrey;

	text-align: center;
}

.has-success {
	background: rgba(0,255,0,0.1);
}
.has-error {
	background: rgba(255,0,0,0.1);
}

#logdiv{
	width: 300px;
	padding: 20px;

	border: 1px solid whitesmoke;
	margin: auto;
	padding: 40px 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-shadow: 0px 3px 8px lightgrey;
	-moz-box-shadow: 0px 3px 8px lightgrey;
	-webkit-box-shadow: 0px 3px 8px lightgrey;
}

#regdiv{
	width: 300px;
	padding: 20px;

	border: 1px solid whitesmoke;
	margin: auto;
	padding: 40px 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-shadow: 0px 3px 8px lightgrey;
	-moz-box-shadow: 0px 3px 8px lightgrey;
	-webkit-box-shadow: 0px 3px 8px lightgrey;

	display: none;
}

#raise, #raisefp{
	width: 200px;

	padding: 5px;
	margin: auto;
	margin-top: 25px;

	background: whitesmoke;
	font-size: 12px;
}

#raisefp{
	background: white;
	text-decoration: none;
	margin-top: 15px;
}

#raisefp a{
	text-decoration: none;
	color: navy;
}

.helper-text{
	width: 180px;

    margin: 6px auto;
    text-align: left;

    padding: 2px 10px;

    font-size: 10px;
    line-height: 22px;
    color: orangered;

    border: 1px solid whitesmoke;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: whitesmoke;
    list-style-type: none;
    display: none;
}

.valid{
	color: #1fd34a;
}

.pass-yes, .email-yes{
	width: 180px;

    margin: 6px auto;
    padding: 2px 10px;

    font-size: 10px;
    line-height: 22px;
    color: #1fd34a;

    border: 1px solid whitesmoke;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: whitesmoke;
    display: none;
}

.pass-no, .email-no{
	width: 180px;

    margin: 6px auto;
    padding: 2px 10px;

    font-size: 10px;
    line-height: 22px;
    color: orangered;

    border: 1px solid whitesmoke;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: whitesmoke;
    display: none;
}

#reginp{
	cursor: not-allowed;
}

#reginpx{
	cursor: not-allowed;
}

#err{
	width: 250px;
	height: auto;

	text-align: center;
	margin: 40px auto;
	padding: 40px 2px;

	background: whitesmoke;
	color: grey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* ------------------------------  LOGINHISTORY.PHP --------------------------------  */

.deviceBox {
	display: block;
	overflow:auto;

	margin-top: 20px;
	margin-bottom: 20px;
}

.deviceRowContent {
	width: calc(25% - 10px);
	display: inline-block;
	float: left;
	padding: 10px 5px;
}

.bold {
	font-weight: 400;
}


/* ------------------------------  CHARGE.PHP --------------------------------  */

.simpbut{
	height: 20px;
	width: 280px;

	background: royalblue;
	color: whitesmoke;
	text-align: center;

	padding: 8px 10px 12px;
	margin: 30px 10px 20px 0px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	cursor: pointer;
}

.receiptbox{
	width: 500px;
	height: auto;

	padding: 50px;
}

/* ------------------------------  SETTINGS.PHP --------------------------------  */

.mbox{
	width: 260px;
	height: 20px;

	background: whitesmoke;
	color: grey;

	border: 1px solid lightgrey;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	padding: 5px 8px;
	margin: -10px auto 10px;
}
